{include file="header" /}

<div id="templatemo_main_wrapper">
	<div id="templatemo_main">
		<div id="templatemo_main_top">
        
            <div id="templatemo_content">
            
            
                <h2>TAG标签</h2>
                <div style="line-height:30px;">
                
                {tlist name='vo' num='100'}
               <a style="color:#{:random_color()}; text-decoration:none; font-size:{:rand(12,30)}px;" href="{:url('Index/tag',['tag'=>urlencode($vo['tag'])])}" class="t{:rand(1,5)}">{$vo.tag}</a>&nbsp;
               {/tlist}
          
                
                </div>
                <div><br />
                </div>
                <p>&nbsp;</p>
                
              <div class="cleaner_h30"></div>
        
            
            
            </div>
            
            <div id="templatemo_sidebar">
            	
                <h4>日记分类</h4>
                <ul class="templatemo_list">
                 {clist name='vo'  num='10'}
                <li><a href="{$vo.url}">{$vo.catname}</a></li>
                {/clist}
                </ul>
                
                <div class="cleaner_h40"></div>
                
                <h4>热门日记</h4>
                <ul class="templatemo_list">
                {alist name='vo'  num='10'}
                <li><a href="{$vo.url}">{$vo.title}</a></li>
                {/alist}
                </ul>
                
                <div id="ads">
                	<a href="#"><img src="__PUBLIC__/style2017/redblog/images/templatemo_200x100_banner.jpg" alt="banner 1" /></a>
                    
                    <a href="#"><img src="__PUBLIC__/style2017/redblog/images/templatemo_200x100_banner.jpg" alt="banner 2" /></a>
                </div>
                
            </div>
        
        	<div class="cleaner"></div>
        </div>
    </div><div id="templatemo_main_bottom"></div>
</div>

{include file="footer" /}