<div id="templatemo_sidebar">
        
	        <div class="sidebar_box">
				<a href="#"><img src="__PUBLIC__/style2017/cityblog/images/templatemo_ads.jpg" alt="banner" /></a>
            </div>  
        	
            <div class="sidebar_box">
            	<h4>日记分类</h4>
                <ul class="tmo_list">  
                   	{clist name='vo'  num='10'}
                <li><a href="{$vo.url}">{$vo.catname}</a></li>
                {/clist}                
                </ul>
            </div>
            
            <div class="sidebar_box">
            	<h4>热门日记</h4>
                {rlist name='vo'  num='10'}
                <div class="recent_comment_box">
                    <a href="{$vo.url}">{$vo.title}</a>
                    <p>{$vo.description}</p>
                </div>
                {/rlist}
               
            </div>
        	
        </div>