{include file="public:header" /}
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span>修改会员组</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:url('User/group_edit')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    
                    <input type="hidden" name="groupid" value="{$info.groupid}"  />
                    <table class="insert-tab" width="100%" border="1">
                        <tbody>
                       
                           
                            <tr>
                                <th width="100">名称：</th>
                                <td>
                                    <input class="common-text" id="name" name="name" value="{$info.name}" type="text" >
                                </td>
                            </tr>
                             <tr>
                                <th width="100">积分：</th>
                                <td>
                                    <input class="common-text" id="point" name="point" value="{$info.point}" type="text" >
                                </td>
                            </tr>
                             <tr>
                             <th></th>
                            <td>
                                <input class="btn btn-primary  mr10"  value="提交" name="dosubmit"  type="submit">
                                <input class="btn" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                            </tr>
                          
                        </tbody></table>
                        </div>
                   
                  
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
